/* 
reset 
*/

/* variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 1.7rem;
  margin: 1rem 0;
}
/* 
container
*/
code {
  white-space: pre-wrap;
}

pre {
  white-space: pre-wrap;
}

button {
  border: none;
  background: none;
}
a {
  color: unset;
  text-decoration: none;
}
.container {
  max-width: 800px;
  margin: var(--nav-height) auto 0 auto;
  padding: 1rem;
}
/*  typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  line-height: initial;
}

.btn {
  border-radius: 4px;
  padding: 0.3rem;
}

.btn-delete {
  background: red;
  color: white;
}

.btn-admin-delete {
  background: red;
  color: white;
  margin-left: 1rem;
}

.btn-delete:hover {
  background: black;
}

.btn-post {
  margin-top: 0.5rem;
  background: #2ec4ff;
  width: 100%;
  height: 3rem;
}

.btn-post:hover {
  background: #2499c7;
}

.post-menu {
  margin-bottom: 2rem;
  border: 3px solid var(--nav-link-color);
  padding: 1rem;
}

input {
  height: 2rem;
  margin-bottom: 1rem;
  display: flex;
}

.input-title {
  width: 100%;
}

.edit-title {
  position: relative;
  width: 100%;
  z-index: 999;
}

.edit-tags {
  position: relative;
  z-index: 999;
}
.edit-html {
  position: relative;
  width: 100%;
  height: 10rem;
  z-index: 999;
}

.dark-mode {
  height: 100%;
  vertical-align: middle;
}

ul {
  margin-left: 1rem;
}

.loading {
  position: fixed;
  top: 50%;
  left: 43%;
}
