.login {
  text-align: center;
}

.container-form {
  margin-top: 5rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.input-login,
.button-login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.input-login {
  border: 2px solid rgb(121, 115, 115);
}

.input-login:hover,
.button-login:hover {
  opacity: 1;
}

.button-login[type="submit"] {
  background-color: #2dc4ff;
  color: white;
  cursor: pointer;
}

.button-login[type="submit"]:hover {
  background-color: #2087af;
}
