.post-list-item {
  width: 100%;
  display: block;
  padding-top: 1rem;
  text-align: left;
}
.post-list-item:hover {
  color: #2ec4ff;
}

.post-list-item .title {
  margin: 0;
  margin-bottom: 0.5rem;
}
.post-list-item .date {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--post-list-item-date);
  font-weight: 300;
}

.post-list-item .tags {
  margin-bottom: 0.5rem;
}

.post-list-item .tag {
  display: inline-block;
  margin-right: 0.5rem;
  background: var(--post-list-item-tag);
  padding: 0 0.5rem;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
}

.tag-all {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  background-color: royalblue;
  padding: 0 0.5rem;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
}
